<section class="section">
  <div class="notification is-danger">Error!</div>
  <p>Sorry! That didn't work! The error was:</p>
  {{error}}
  <p>Go back and try again!</p>
  <button class="button is-link" onclick="history.back()">Go Back</button>
</section>