<section class="section">

  <form method="post" action="/products/add">
    <div class="field">
      <label class="label">SKU: </label>
      <input
        class="input"
        type="text"
        name="sku"
        required
        placeholder="Enter SKU"
      />
    </div>
    <div class="field">
      <label class="label">Description: </label>
      <input
        class="input"
        type="text"
        name="description"
        required
        placeholder="Enter description"
      />
    </div>
    <div class="field">
      <label class="label">Price: </label>
      <input
        class="input"
        type="number"
        step="0.01"
        name="price"
        required
        placeholder="Enter price"
      />
    </div>
    <div class="field">
      <label class="label">Quantity: </label>
      <input
        class="input"
        type="number"
        name="quantity"
        required
        placeholder="Enter current quantity in stock"
      />
    </div>
    <div class="field">
      <label class="label">Image path (optional): </label>
      <input
        class="input"
        type="text"
        name="imagePath"
        placeholder="Enter URL to image of product"
      />
    </div>

    <div class="field">
      <input type="submit" value="Save" class="button is-success" />
      <input
        type="button"
        value="Cancel"
        class="button is-danger"
        onclick="cancelAdd()"
      />
    </div>

  </form>
</section>