<div class="table-responsive">
  <form method="post" action="/users/delete">
    <table class="table table-condensed">
      <tbody>
        <tr>
          <th>First Name:</th>
          <td>{{data.firstName}}</td>
        </tr>
        <tr>
          <th>Last Name: </th>
          <td>{{data.lastName}}</td>
        </tr>
        <tr>
          <th>E-mail: </th>
          <td>{{data.email}}</td>
        </tr>
        <input type="hidden" name="id" value="{{data.id}}" />

      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="OK" class="btn btn-success" />
            <input
              type="button"
              value="Cancel"
              class="btn btn-danger"
              class="cancel"
              onclick="location.href='/users'"
            />
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>