{{#if problem}}
  <h2>There was a problem editing the user. Please try again.</h2>
{{/if}}
<div class="table-responsive">
  <form method="post" action="/register">
    <table class="table table-condensed">
      <tbody>

        <tr>
          <th>First Name: </th>
          <td><input
              type="text"
              name="fname"
              required
              value="{{data.firstName}}"
            /></td>
        </tr>
        <tr>
          <th>Last Name: </th>
          <td><input
              type="text"
              name="lname"
              required
              value="{{data.lastName}}"
            /></td>
        </tr>
        <tr>
          <th>E-mail: </th>
          <td><input
              type="email"
              name="email"
              required
              value="{{data.email}}"
            /></td>
        </tr>
        <tr>
          <th>Admin?: </th>
          <td><input
              type="checkbox"
              name="isAdmin"
              required
              value="true"
              {{#if data.isAdmin}}
              checked
              {{/if}}
            /></td>
        </tr>
        <tr>
          <th>Password: </th>
          <td><input type="password" name="password" placeholder="Enter new password if needed"/></td>
        </tr>
        <input type="hidden" name="id" value="{{data.id}}" />
      </tbody>
      <tfooter>
        <tr>
          <td></td>
          <td>
            <input type="submit" value="Save" class="btn btn-success" />
            <input
              type="button"
              value="Cancel"
              class="btn btn-danger"
              onclick="cancelAdd()"
            />
          </td>
        </tr>
      </tfooter>
    </table>
  </form>
</div>