<section class="section">
  {{#if newUser}}
    <div class="notification is-success">Thanks for registering! Sign in now!</div>
      <h3 class="title is-3">{{title}}</h3>

  {{else}}
    <h3 class="title is-3">{{title}}</h3>

    <h4 class="title is-4">No account yet? Go
      <a href="/register">sign up</a> first!</h4>
  {{/if}}
  <form method="post" action="/login">

    <div class="field">
      <label class="label">Email</label>
      <div class="control has-icons-left has-icons-right">
        <input
          class="input"
          type="email"
          name="email"
          required
          placeholder="Enter e-mail address"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
      </div>
    </div>

    <div class="field">
      <label class="label">Password</label>
      <div class="control has-icons-left">
        <input
          class="input"
          type="password"
          name="password"
          required
          placeholder="Enter password"
        />
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>
    <input type="submit" value="Login" class="button is-success" />
    <input
      type="button"
      value="Cancel"
      class="button is-danger"
      onclick="cancelGoHome()"
    />

  </form>
</section>